<h1>About us</h1>
<p>I am working on my first app</p>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.chyp.com/wp-content/uploads/2015/11/me1-300x300.png" alt="...">
      <div class="caption">
        <h3>Main developer</h3>
        <p>This is me</p>
        <p><%= link_to "Go back to  the main page", root_path, class: "btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>
</div>